body {
  font-family: Arial, sans-serif;
}
.none-el{
  display:none;
}

.hidden-el{
  visibility:hidden;
}

/* p{
  display:inline;
}

p{
  display:block;
} */


a{
  display:inline-block;
  background-color:lightblue;
  border:blue solid 2px;
  padding:10px;
  margin:20px 10px;
  width:200px;
  height:100px;
}
