*{
  border:0;
  margin:0;
  box-sizing:border-box;
  /* padding:0;
  font-family:inherit; */
}

body {
  font-family: 'Poppins', sans-serif;
  
}

.box {
  background: coral;
  max-width: 400px;
  margin: 20px;
  padding: 200px;
}
