* {
  margin:0;
  padding:0;
  box-sizing:border-box;

}

body {
  font-family: 'Poppins', sans-serif;
  background: #f4f4f4;
}

.container{
  width:400px;
  margin:100px auto;
  color:white;
  border-radius:5px;
  text-align:center;
  padding:60px 50px;
  background-color:#373f4d;
  box-shadow: 4px 4px 6px rgba(0,0, 0, 0.5)
  
}
/* 
.card{
  background-color:#373f4d;
   color:white;
  border-radius:5px;
  text-align:center;
   padding:60px 50px;

} */

.card h1{
  font-size: 22px;
  margin-bottom:15px;
  font-weight:300;
}

.card p{
  font-size:15px;
  margin-bottom:15px;
  font-weight:300;
}

.card .form-group{
  margin-bottom:20px;
}

.card input[type='text']{
  width:100%;
  padding:15px 10px;
  font-size:large;
  border:none;
  background-color:#f1f1f1;
}

.card button{
  width:100%;
  padding:15px 10px;
  font-size:large;
  border:none;
  background-color:#b63a1b;
  color:white;
  cursor:pointer;
}

.card button:hover{
  background-color: crimson;
}

