* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 0 20px;
}

p {
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding: 5px;
}

p::first-letter{
  font-size:2rem;
  color:rebeccapurple;
  padding-right: 2px;
  font-weight: bold;
}

p::first-line{
  color:purple;
}
p::selection{
  color:red;
  background-color: yellow;
}

input:required{
  border-color:red
}

input[required]{
  background-color: lightgray;
}

input::placeholder{
  color:purple;
  font-weight:bold;
}

input::file-selector-button{
  font-weight:bold;
  color:rgb(50, 174, 116);
  background-color: #fff;
  padding:0.5rem;
  border:thin solid gray;
  border-radius:3px;
}
/* 
li::maker{
  content:''
} */